*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# 
.settings/
target/
.project
.classpath
src/main/webapp/res/video/
src/main/webapp/res/images/
src/main/webapp/res/font-awesome/fonts/
src/main/webapp/res/font-awesome/less/
src/main/webapp/res/font-awesome/scss/
src/main/webapp/res/fonts/